html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: seravek;
  color: #353535;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

#header {
  height: 700px;

  background: url(https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=3451&q=80)
    center/cover no-repeat;
  background-color: yellow;
  margin: 0;

  color: white;
}

h1 {
  font-size: 54px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.hero-black-bg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(35, 92%, 5%, 0.7);
}

p {
  font-size: 20px;
}

.button {
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

#header-button {
  text-decoration: none;
}

#header .button {
  margin-top: 80px;
  color: white;
  border: 1px solid white;
}

#header .button:hover {
  box-shadow: 1px 4px 85px 27px #a74c27;
  transition: 0.5s;
  background-color: transparent;
}

.button:hover {
  transition: 0.5s;
  background-color: #a74c27;
  border: 1px solid #a74c27;
  color: white;
}

#link-coffee {
  text-decoration: underline;
}

.features-wrapper {
  padding: 100px 20px;
  display: flex;
  justify-content: space-between;
}

.features-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
/*
.features-img {
  height: 600px;
  width: 40%;
  background: url(https://images.unsplash.com/photo-1517705708367-762e7e2eee6c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80)
    top left/cover no-repeat;
}*/

.features-img img {
  height: 600px;
}

h2 {
  font-size: 34px;
}

#features .button {
  margin-top: 30px;
}

#features a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .features-wrapper {
    flex-direction: column;
  }
  .features-content {
    width: 100%;
  }
  .features-img {
    height: 500px;
    width: 100%;
    margin-top: 30px;
    background-position: center;
  }
}

.nav-container {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #904d30;
  z-index: 999;
}

nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  color: black;
  transition: 0.5s;
}

.nav-menu-1,
.nav-menu-2 {
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu-1 {
  width: 35%;
  padding-left: 20px;
}
#header-img {
  width: 20%;
  margin: 10px 0px;
}
.nav-menu-2 {
  width: 35%;
  padding-right: 20px;
}

#header-img {
  width: 70px;
  height: 70px;
  background-size: contain;
  border-radius: 50%;
}

.price {
  padding: 50px 0px;
}
.price-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.price-item {
  width: 30%;
}

.price-item_img {
  width: 100%;
  height: 30vw;
}
/*
.price-item_img1 {
  background: url(https://images.unsplash.com/photo-1527156231393-7023794f363c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1254&q=80)
    center/cover no-repeat;
}*/

.price-item_img1 img {
  height: 30vw;
  width: 100%;
}
/*
.price-item_img2 {
  background: url(https://images.unsplash.com/photo-1563090308-5a7889e40542?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80)
    center/cover no-repeat;
}*/

.price-item_img2 img {
  height: 30vw;
  width: 100%;
}
/*
.price-item_img3 {
  background: url(https://images.unsplash.com/photo-1584014036570-88bde6468699?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1234&q=80)
    center/cover no-repeat;
}*/

.price-item_img3 img {
  height: 30vw;
  width: 100%;
}

.price-item_name {
}
.price-item_description {
  font-size: 16px;
  color: gray;
  height: 100px;
}
.price-item_price {
  color: #a74c27;
  font-size: 26px;
}

.subscribe {
  background: url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1912&q=80)
    center/cover;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(35, 92%, 12%, 0.7);
  color: white;
  padding: 100px;
}

.subscribe h2 {
  text-align: center;
  margin-bottom: 40px;
}

form input {
  padding: 14px 20px;
  width: 300px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  margin-right: 40px;
}

form .button {
  border: 1px solid white;
  color: white;
}

#map {
  height: 300px;
}

#logo {
  height: 200px;
}

#video-section {
  padding: 50px 0px;
}

.video-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  padding: 50px 0px;
  margin-bottom: 100px;
}

.map-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
}

.map-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px 30px 0px 0px;
  max-width: 50%;
}

#map iframe {
  max-width: 50%;
  height: 100%;
}

footer {
  padding: 50px 0px;
  background-color: #904d30;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0px 50px;
}

footer a {
  color: white;
}
